<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <div class="nav-bar-container">
        <ul class="nav-bar">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/register">register</a></li>
        </ul>
    </div>
    <div class="home-container">
        <p>Home page</p>
        <div class="pollution-container">
            <div class="pollution-display">
                <p>INSERT POLLUTION SHIT WHEN WE GET IT</p>
            </div>
        </div>
        <div class="exsample-stuff">
            <p> here is all we offer:</p>
        </div>
        <div class="partners">
            <p> here are our partners:</p>
        </div>
    </div>
</body>
</html>